//<FORM ()>====================================================================================================
.form {
	&__row {
		display: flex;
		margin: 0px -15px;
	}
	&__column {
		padding: 0px 15px;
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}

//========================================================================================================================================================
.popup-form {
	&__body{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&__line {
		margin: 0px 0px 10px 0px;
	}
	&__label{
		display: inline-block;
		margin: 0px 0px 8px 0px;
	}
	&__input {
	}

	&__check{
		margin: 0px 0px 30px 0px;
	}

	&__button {
		display: flex;
		justify-content: center;
	}
	&__error {
		color: red;
		font-style: italic;
		font-size: 12px;
	}
}


//</FORM>====================================================================================================



//<BUTTONS (a.btn+tab)>====================================================================================================
.btn{
	display: inline-block;
	height: 55px;
	line-height: 55px;

	padding: 0px 42px;

	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	&--dark{
		background-color: $dark-blue;
		color: #fff;
		&:hover{
			color: $green;
		}
	}
	&--w{
		background-color: #ffffff;
		color: $dark-blue;
		&:hover{
			color: $green;
		}
	}
	&--green{
		background-color: $green;
		color: #fff;
		&:hover{
			color: $dark-blue;
		}
	}
	&--robo{
		font-family: Roboto;
	}
	@media (max-width: $md2+px){
		height: 45px;
		line-height: 45px;
		padding: 0px 22px;
	}
	&:hover{}
	&.fw{width: 100%;}
}
//</BUTTONS>====================================================================================================


//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	display: block;
	padding: 0px 20px;

	height: 50px;
	width: 280px;
	border-radius: 5px;
	border: 1px solid $dark-blue;

	margin: 0px 0px 20px 0px;
	&._focus {
	}
	&._error {
		border: 1px solid red;
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
	padding: 20px;

	width: 600px;
	height: 150px;
	@media (max-width: 630px){
		width: 300px;
		height: 100px;
		margin: 0 auto 30px;
	}
}
//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.checkbox {
	position: relative;
	
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: #fff url("../img/icons/check.svg") center / 12px no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 15px;
		font-weight: 500;
		color: $dark-blue;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 2px solid $dark-blue;
			border-radius: 3px;
		}
		@media (max-width: 630px){
			margin: 0px 0px 30px 0px;
		}
	}
	a {
		color: #fff;
		color: $green;
		text-decoration: underline;
		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}
//</CHECK>====================================================================================================
